<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Embedded sketch test</title>
	</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="libs/PieceMakerLib.js"></script>
		<script type="text/javascript">
			jQuery(function(){
				var mainOrigin = window.location.protocol + "//" + window.location.host;
				var $iframe = jQuery('iframe');
				var iframeWindow = $iframe.get(0).contentWindow;
				jQuery('iframe').attr('src', 'index.html').load(function(){
					this.contentWindow.postMessage({command:'setWindow'},mainOrigin);
				});
				var api = new PieceMakerApi(this,'another-faux-api-key','http://localhost:3000');
				window.addEventListener('message',function(msg){
					if ( msg.origin === mainOrigin ) {
						if ( msg.data.name === 'piecemakerapi' ) {
							api.fetch( msg.data.data, 
								function ( resp ) {
									iframeWindow.postMessage({
										name: 'piecemakerapi',
										data: resp,
										requestId: msg.data.requestId
									},mainOrigin);
								}, 
								function ( err ) {
									throw( err );
							});
						}
					}
				});
			});
		</script>
		<iframe src="" style="width: 500px; height: 500px"></iframe>
	</body>
</html>